@import "./../../style/Color_and_mixin";

section
{
  @include FlexColumnCeCe();
  overflow: hidden;
}

#FirstSection
{
  background: $Deep_purple-black;
  padding: 20px;
  width: 100vw;
  height: 100vh;

}

#SecondSection
{
  background: $Black;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}

#ThirdSection
{
  background: $Deep_purple-black;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}