@import "./../../style/Color_and_mixin";

section
{
  @include FlexColumnCeCe();
  overflow: hidden;
  width: 100vw;
}

#FirstSection, #SecondSection
{
  height: 62vw;
}

#ThirdSection
{
  background: $Black;
  height: 82vw;
}

#FourthSection
{
  @include FlexColumnFsFs();
}

#FifthSection
{
  background: $Black;
  height: 81vw;
}

#SixthSection
{
  @include FlexColumnFsFs();
}

#SeventhSection
{
  background: $Black;
}

#EighthSection
{
  background-color: $Deep_purple-black;
}

