#GridTechnologies {
  width: 90vw;
  height: 71.625vw;
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-template-columns: repeat(5, 16.5vw);
  grid-template-rows: repeat(4, 16.5vw);
  grid-template-areas: "js js html ts ts" "js js css ts ts" "sass sass react figma git" "cpp py android java java";
}
#GridTechnologies > div {
  background-position: center;
  background-size: cover;
  transition: 1s opacity;
  border: 0.15vw solid rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 2vw;
}
#GridTechnologies > div > div {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  top: 100%;
  transition: 1s top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
}
#GridTechnologies > div > div > p {
  font-size: 1.5vw;
  text-align: center;
}
#GridTechnologies > div:hover > div {
  top: 0%;
}
#GridTechnologies > #js > div > p, #GridTechnologies > #ts > div > p, #GridTechnologies > #sass > div > p, #GridTechnologies > #java > div > p {
  font-size: 2vw;
}
#GridTechnologies > #html {
  grid-area: html;
  background-image: url("./../../Image/html-5.png");
}
#GridTechnologies > #css {
  grid-area: css;
  background-image: url("./../../Image/css-3.png");
}
#GridTechnologies > #js {
  grid-area: js;
  background-image: url("./../../Image/js.jpeg");
}
#GridTechnologies > #ts {
  grid-area: ts;
  background-image: url("./../../Image/TS.jpg");
}
#GridTechnologies > #sass {
  grid-area: sass;
  background-image: url("./../../Image/sass.jpg");
}
#GridTechnologies > #react {
  grid-area: react;
  background-image: url("./../../Image/react.png");
}
#GridTechnologies > #cpp {
  grid-area: cpp;
  background-image: url("./../../Image/c-.png");
}
#GridTechnologies > #java {
  grid-area: java;
  background-image: url("./../../Image/Java.png");
}
#GridTechnologies > #git {
  grid-area: git;
  background-image: url("./../../Image/git.png");
}
#GridTechnologies > #figma {
  grid-area: figma;
  background-image: url("./../../Image/figma.png");
}
#GridTechnologies > #python {
  grid-area: py;
  background-image: url("./../../Image/py.png");
}
#GridTechnologies > #android {
  grid-area: android;
  background-image: url("./../../Image/android.png");
}

#GridEducation {
  width: 90vw;
  height: 71vw;
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-template-columns: 25vw repeat(3, 20vw);
  grid-template-rows: 25vw 15vw 26vw;
  grid-template-areas: "DevPhoto StatisticsBlock StatisticsBlock StatisticsBlock" "UniversityText UniversityText UniversityText UniversityText" "BlockText BlockText BlockText BlockText";
}
#GridEducation > div {
  box-shadow: none;
}
#GridEducation > #DevPhoto {
  background: url("./../../Image/DogTwitter.jpg");
  background-size: cover;
  background-position: center;
  grid-area: DevPhoto;
  border: 0.15vw solid rgb(255, 255, 255);
  border-radius: 2vw;
  transition: 1s transform;
  overflow: hidden;
}
#GridEducation > #DevPhoto > div {
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 2vw;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  top: 100%;
  transition: 1s top;
}
#GridEducation > #DevPhoto:hover > div {
  top: 0%;
}
#GridEducation > #UniversityText {
  grid-area: UniversityText;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#GridEducation > #UniversityText > ul > li {
  margin: 1vw 0;
  height: 2vw;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#GridEducation > #UniversityText > ul > li > p {
  white-space: nowrap;
  margin-left: 2vw;
}
#GridEducation > #UniversityText > ul > li:nth-child(1) {
  margin-top: 0;
}
#GridEducation > #UniversityText > ul > li:nth-child(5) {
  margin-bottom: 0;
}
#GridEducation > #UniversityText > ul:nth-child(1) {
  transform: translateX(2vw);
}
#GridEducation > #UniversityText > ul:nth-child(1) > li:before {
  position: absolute;
  transform: translateX(-2vw);
  content: "";
  width: 1vw;
  height: 1vw;
  border-radius: 1vw;
  background: rgb(123, 104, 238);
}
#GridEducation > #BlockText {
  grid-area: BlockText;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#GridEducation > #StatisticsBlock {
  grid-area: StatisticsBlock;
}

/*# sourceMappingURL=Grids.css.map */
