@import "./../../style/Color_and_mixin";

#GridTechnologies
{
  width: 90vw;
  height: 71.625vw;
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-template-columns: repeat(5, 16.5vw);
  grid-template-rows: repeat(4, 16.5vw);
  grid-template-areas: "js js html ts ts"
                      "js js css ts ts"
                      "sass sass react figma git"
                      "cpp py android java java";
  > div
  {
    background-position: center;
    background-size: cover;
    transition: 1s opacity;
    border: 0.15vw solid $White;
    overflow: hidden;
    border-radius: 2vw;
    > div
    {
      position: relative;
      background: rgba(0,0,0,0.6);
      width: 100%;
      height: 100%;
      @include blur(6px);
      top: 100%;
      transition: 1s top;
      @include FlexColumnCeCe();
      border-radius: 2vw;
      > p
      {
        font-size: 1.5vw;
        text-align: center;
      }
    }
  }
  > div:hover
  {
    > div {
      top: 0%;
    }
  }
  > #js,> #ts,> #sass,> #java
  {
    >div
    {
      >p
      {
        font-size: 2vw;
      }
    }
  }
  > #html
  {
    grid-area: html;
    background-image: url("./../../Image/html-5.png");
  }
  > #css
  {
    grid-area: css;
    background-image: url("./../../Image/css-3.png");
  }
  > #js
  {
    grid-area: js;
    background-image: url("./../../Image/js.jpeg");
  }
  > #ts
  {
    grid-area: ts;
    background-image: url("./../../Image/TS.jpg");
  }
  > #sass
  {
    grid-area: sass;
    background-image: url("./../../Image/sass.jpg");
  }
  > #react
  {
    grid-area: react;
    background-image: url("./../../Image/react.png");
  }
  > #cpp
  {
    grid-area: cpp;
    background-image: url("./../../Image/c-.png");
  }
  > #java
  {
    grid-area: java;
    background-image: url("./../../Image/Java.png");
  }
  > #git
  {
    grid-area: git;
    background-image: url("./../../Image/git.png");
  }
  > #figma
  {
    grid-area: figma;
    background-image: url("./../../Image/figma.png");
  }
  > #python
  {
    grid-area: py;
    background-image: url("./../../Image/py.png");
  }
  > #android
  {
    grid-area: android;
    background-image: url("./../../Image/android.png");
  }
}

#GridEducation {
  width: 90vw;
  height: 70vw;
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  grid-template-columns: repeat(4, 20vw);
  grid-template-rows: repeat(3, 20vw);
  grid-template-areas: "UniversityText StatisticsBlock PhotoUniversity PhotoUniversity"
                      "UniversityText StatisticsBlock BlockText BlockText"
                      "DevPhoto StatisticsBlock BlockText BlockText";

  > div
  {
    border-radius: 2vw;
    border: 0.15vw solid $WhiteA;
    background: $Ultramarine_Blue;
    box-shadow: none;
    transition: 1s border, 1s background, 1s box-shadow;
  }
  > .EduBlock:hover
  {
    border: 0.15vw solid $White;
    background: $Moderate_slate_blue;
    box-shadow: 0 0 2vw 2vw $Moderate_slate_blueA;
  }
  > #DevPhoto
  {
    background: url("./../../Image/DogTwitter.jpg");
    background-size: cover;
    background-position: center;
    grid-area: DevPhoto;
    border: 0.15vw solid $White;
  }
  > #UniversityText
  {
    grid-area: UniversityText;
  }
  > #BlockText
  {
    grid-area: BlockText;
  }
  > #PhotoUniversity
  {
    background: url("./../../Image/iit.jpg");
    background-size: cover;
    background-position: center;
    grid-area: PhotoUniversity;
    border: 0.15vw solid $White;
  }
  > #StatisticsBlock
  {
    grid-area: StatisticsBlock;
  }
}