@import "./../../style/Color_and_mixin";

.AchievementsDivs
{
  @include FlexColumnSbCe();
  width: 45vw;
  height: 45vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding: 5%;
  > img
  {
    height: 40%;
    border-radius: 2vw;
    transition: 1s transform;
  }
  > img:hover
  {
    transform: scale(1.35);
  }
  > p
  {
    text-align: center;
  }
}

.LeftAchievements
{
  margin-left: 15vw;
}

.RightAchievements
{
  margin-left: 40vw;
}

.Start
{
  margin-top: 20vw;
}

.End
{
  margin-bottom: 20vw;
}