@import "./../../style/Color_and_mixin";

.AchievementsDivs
{
  @include FlexColumnSbCe();
  width: 45vw;
  height: 45vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding: 5%;
  > img
  {
    height: 40%;
    border: 0.15vw solid $White;
    border-radius: 2vw;
    transition: 1s transform;
  }
  > img:hover
  {
    transform: scale(1.35);
  }
  > p
  {
    text-align: center;
  }
}

.Start
{
  margin-top: 15vw;
}

.End
{
  margin-bottom: 15vw;
}