@import "./../../style/Color_and_mixin";

@keyframes startLeft {
  from
  {
    transform: translateX(-100vw);
  }
  to
  {
    transform: translateX(0vw);
  }
}

@keyframes startRight {
  from
  {
    transform: translateX(100vw);
  }
  to
  {
    transform: translateX(0vw);
  }
}

@keyframes Rotation {
  from
  {
    transform: rotate(0deg);
  }
  to
  {
    transform: rotate(360deg);
  }

}

.UnitedDiv
{
  background: $Ultramarine_Blue;
  border: 0.15vw solid $WhiteA;
  box-shadow: none;
  transition: 1s background, 1s border, 1s box-shadow;
  border-radius: 2vw;
}

.UnitedDiv:hover
{
  background: $Moderate_slate_blue;
  border: 0.15vw solid $White;
  box-shadow: 0 0 2vw 2vw $Moderate_slate_blueA;
}

.Div
{
  width: 80vw;
  height: 35vw;
  overflow: hidden;
  @include FlexRowSbCe();
  box-sizing: content-box;
}

#Name
{
  animation: startLeft 1.75s 1;
  > div:nth-child(1)
  {
    background: $Ultramarine_Blue;
    width: 45vw;
    height: 35vw;
    padding: 2.5% 5%;
    @include FlexColumnSbFs();
    transition: 1s background;
    > div
    {
      width: 100%;
    }
    > div:nth-child(1)
    {
      @include FlexColumnFsFs();
    }
    > div:nth-child(2)
    {
      @include FlexColumnCeFs();
      li
      {
        @include FlexRowCeFs();
        list-style-type: none;
        height: 3vmin;
        margin: 1vmin 0;
      }
      li:before
      {
        display: inline-block;
        content: "";
        position: relative;
        width: 3vmin;
        height: 3vmin;
        background-size: cover;
        background-position: center;
        margin-right: 1vmin;
      }
      li:nth-child(1):before
      {
        background-image: url("./../../Image/gmail.png");
      }
      li:nth-child(2):before
      {
        background-image: url("./../../Image/yandex.png");
      }
      li:nth-child(3):before
      {
        background-image: url("./../../Image/telephone.png");
      }
      li:nth-child(4):before
      {
        background-image: url("./../../Image/home.png");
      }
    }
    > div:nth-child(3)
    {
      @include FlexRowFsCe();
      height: 4vw;
      > a
      {
        width: 4vw;
        height: 4vw;
        background-size: cover;
        background-position: center;
        border-radius: 4vw;
        margin: 2vw;
        box-sizing: content-box;
        border: 0.15vw solid $Ultramarine_Blue;
        transition: 1s border, 1s transform;
      }
      > a:nth-child(1)
      {
        margin-left: 0;
      }
      > #TG
      {
        background-image: url("./../../Image/github.png");
      }
      > #GH
      {
        background-image: url("./../../Image/telegram.png");
      }
      > #VK
      {
        background-image: url("./../../Image/discord.png");
      }
      > #DC
      {
        background-image: url("./../../Image/vk.png");
      }
    }
  }
  > div:nth-child(2)
  {
    width: 35vw;
    height: 35vw;
    background-image: url("./../../Image/DogTwitter.jpg");
    background-size: cover;
    background-position: center;
    @include FlexRowFsCe();
    > div
    {
      width: 15vw;
      height: 35vw;
      position: absolute;
    }
    > div:nth-child(1)
    {
      background: linear-gradient(to right top, $Ultramarine_Blue 50%, rgba(0,0,0,0) 50%);
      z-index: 2;
    }
    > div:nth-child(2)
    {
      background: linear-gradient(to right top, $Moderate_slate_blue 50%, rgba(0,0,0,0) 50%);
      z-index: 3;
      opacity: 0;
      transition: 1s opacity;
    }
  }
}

#React
{
  background: $Ultramarine_Blue;
  transition: 1s background, 1s box-shadow, 1s border;
  animation: startRight 1.75s 1;
  > div:nth-child(1)
  {
    width: 35vw;
    height: 35vw;
    background-image: url("./../../Image/SassLogo.png");
    background-position: center;
    background-size: cover;
    @include FlexRowFeCe();
    > div
    {
      width: 15vw;
      height: 35vw;
      position: absolute;
    }
    > div:nth-child(1)
    {
      z-index: 2;
      background: linear-gradient(to left top, $Ultramarine_Blue 50%, rgba(0,0,0,0) 50%);
    }
    > div:nth-child(2)
    {
      z-index: 3;
      background: linear-gradient(to left top, $Moderate_slate_blue 50%, rgba(0,0,0,0) 50%);
      opacity: 0;
      transition: 1s opacity;
    }
  }
  > div:nth-child(2)
  {
    width: 45vw;
    height: 35vw;
    padding: 2.5% 5% 2.5% 0%;
    @include FlexColumnSeCe();
    > img
    {
      width: 25vw;
      height: 25vw;
      animation: Rotation 12s infinite linear;
    }
    > h6
    {
      text-align: center;
    }
  }
}

#Name:hover
{
  > div:nth-child(1)
  {
    background: $Moderate_slate_blue;
    > div:nth-child(3) > a
    {
      border: 0.15vw solid $White;
    }
    > div:nth-child(3) > a:hover
    {
      transform: scale(1.2);
      border: 0.15vw solid $Deep_purple-black;
    }
  }
  > div:nth-child(2)
  {
    > div:nth-child(2)
    {
      opacity: 1;
    }
  }
}

#React:hover
{
  background: $Moderate_slate_blue;
  > div:nth-child(1)
  {
    > div:nth-child(2)
    {
      opacity: 1;
    }
  }
}