@import "Color_and_mixin";

body::-webkit-scrollbar {
  position: relative;
  width: auto;
}

html
{
  overflow-y: overlay;
}

body::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}


body::-webkit-scrollbar-thumb {
  width: auto;
  background-color: $Moderate_slate_blue;
  border-radius: 2vw;
}

* {
  padding: 0;
  margin: 0;
  font-size: 1.75vw;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: 1s background;
  color: $White;
}

h1,h2,h3,h4,h5,h6
{
  font-family: "Arial Black", sans-serif;
}

h1
{
  font-size: 3vw;
}

h2
{
  font-size: 2.75vw;
}

h3
{
  font-size: 2.5vw;
}

h4
{
  font-size: 2.25vw;
}

h5
{
  font-size: 2vw;
}

h6
{
  font-size: 1.75vw;
}

button, button:active, button:focus {
  border: none;
}

@import "Color_and_mixin";

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: $Deep_purple-black;
  overflow: hidden;
}