@import "Color_and_mixin";

::-webkit-scrollbar {
  width: 0.75vw;
}

html
{
  overflow-y: overlay;
}

html{
  scrollbar-width: auto;
  scrollbar-color: $Moderate_slate_blue rgba(0,0,0,0);
}

::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}


::-webkit-scrollbar-thumb {
  width: auto;
  background-color: $Moderate_slate_blue;
  border-radius: 2vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $Moderate_blue;
}



* {
  padding: 0;
  margin: 0;
  font-size: 1.75vw;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: 1s background;
  color: $White;
}

h1,h2,h3,h4,h5,h6
{
  font-family: "Arial Black", sans-serif;
}

h1
{
  font-size: 3vw;
}

h2
{
  font-size: 2.75vw;
}

h3
{
  font-size: 2.5vw;
}

h4
{
  font-size: 2.25vw;
}

h5
{
  font-size: 2vw;
}

h6
{
  font-size: 1.75vw;
}

button, button:active, button:focus {
  border: none;
}

@import "Color_and_mixin";

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $Deep_purple-black;
  background-position: center;
  background-size: 100%;
  background-image: url("./../Image/waves-dark.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}