$Deep_purple-black: rgba(36, 9, 53, 1);
$Deep_purple-blackA: rgba(36, 9, 53, 0.5);
$Ultramarine_Blue: rgba(32,33,79,1);
$Ultramarine_BlueA: rgba(32,33,79, 0.5);
$Moderate_slate_blue: rgba(123,104,238,1);
$Moderate_slate_blueA: rgba(123,104,238,0.5);
$Black: rgba(0,0,0,1);
$BlackA: rgba(0,0,0,0.5);
$White: rgba(255,255,255,1);
$WhiteA: rgba(255,255,255,0.5);

@mixin FlexRowCeFs()
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@mixin FlexRowFsCe()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin FlexRowFsFs()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin FlexRowReverseFsCe()
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

@mixin FlexRowCeCe()
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin FlexRowFeCe()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin FlexRowSbCe()
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin FlexColumnCeCe()
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin FlexColumnFsFs()
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin FlexColumnFeFs()
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@mixin FlexColumnSeCe()
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@mixin FlexColumnCeFs()
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin FlexColumnCeFe()
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@mixin FlexColumnSbFs()
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin FlexColumnSbFe()
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin FlexColumnSbCe()
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin blur($blur_px: 0px)
{
  backdrop-filter: blur($blur_px);
  -webkit-backdrop-filter: blur($blur_px);
}

