$Deep_purple-black: rgb(36, 9, 53);
$Deep_purple-blackA: rgba(36, 9, 53, 0.5);
$Ultramarine_Blue: rgb(32,33,79);
$Ultramarine_BlueA: rgba(32,33,79, 0.5);
$Moderate_slate_blue: rgb(123,104,238);
$Moderate_slate_blueA: rgba(123,104,238,0.5);
$Black: rgb(0,0,0);
$BlackA: rgba(0,0,0,0.5);
$White: rgb(255,255,255);
$WhiteA: rgba(255,255,255,0.5);