$Deep_purple-black: rgb(36, 9, 53);
$Deep_purple-blackA: rgba(36, 9, 53, 0.5);
$Ultramarine_Blue: rgb(32,33,79);
$Ultramarine_BlueA: rgba(32,33,79, 0.5);
$Moderate_slate_blue: rgb(123,104,238);
$Moderate_slate_blueA: rgba(123,104,238,0.5);
$Black: rgb(0,0,0);
$BlackA: rgba(0,0,0,0.5);
$White: rgb(255,255,255);
$WhiteA: rgba(255,255,255,0.5);

@mixin FlexRowCeCe()
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin FlexRowFeCe()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin FlexRowSbCe()
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin FlexColumnCeCe()
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin blur($blur_px: 0px)
{
  backdrop-filter: blur($blur_px);
  -webkit-backdrop-filter: blur($blur_px);
}

